*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f1f5f8;
}

.container{
    padding: 4rem 0;
    width: 90vw;
    max-width: 1160px;
    margin: 0 auto;
}

.card-list{
    width: 90vw;
    max-width: 1170px;
    margin: 3rem auto;
    display: grid;
    gap: 2rem;
}

@media screen and (min-width: 768px){
    .card-list{
        grid-template-columns: repeat(3, 1fr);
    }
}

.card{
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 10px;
}